Repository muhandojeon/Growing-up-together, pull requests merged in 2024-09, with the labels that each got.

#6 [최서희] 1장: 자라기
  1장/서기.md
  1장/최서희.md
Labels: 1장

#5 [전호영] 1장: 자라기
  1장/전호영.md
Labels: 1장

#16 [최서희] 2장: 함께
  2장/서기.md
  2장/최서희.md
Labels: 2장

#1 [강연주] 1장: 자라기
  1장/강연주.md
Labels: 1장

#17 [강연주] 3장: 애자일
  3장/강연주.md
Labels: 3장

#4 [문희상] 1장: 자라기
  1장/문희상.md
Labels: 1장

#19 [문희상] 3장: 애자일
  3장/문희상.md
Labels: 3장

#12 [문희상] 2장: 함께
  2장/문희상.md
Labels: 2장

#15 [전호영] 2장: 함께
  2장/전호영.md
Labels: 2장

#18 [전호영] 3장: 애자일
  3장/전호영.md
Labels: 3장

#10 [강연주] 2장: 함께
  2장/강연주.md
Labels: 2장

#9 [한상호] 1장: 자라기
  1장/한상호.md
Labels: 1장

#13 [한상호] 2장: 함께
  2장/한상호.md
Labels: 2장

#23 [한상호] 3장: 애자일
  3장/한상호.md
Labels: 3장
