Repository muhandojeon/Growing-up-together, pull requests merged in 2024-10, with the labels that each got.

#8 [이은학] 1장: 자라기
  1장/이은학.md
Labels: 1장

#11 [이은학] 2장: 함께
  2장/이은학.md
Labels: 2장

#20 [이은학] 3장: 애자일
  3장/이은학.md
Labels: 3장

#22 [전희수] 3장: 애자일
  3장/3장 전희수. md
Labels: 3장

#2 [전희수] 1장: 자라기
  1장/전희수.md
Labels: 1장

#7 [공예영] 1장: 자라기
  1장/공예영.md
Labels: 1장

#14 [공예영] 2장: 함께
  2장/공예영.md
Labels: 2장

#21 [공예영] 3장: 애자일
  3장/공예영.md
Labels: 3장
